body {
    background-color: #EEEEEE;
    margin: 0;
}

.centerImage {
    align-self: center;
}

h2 {
    /* background-image: linear-gradient(to right, #672d85, #dd353f);
    color: transparent; */
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #431040;
    margin-bottom: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #431040;
    /* #2d1e1b */
}

a {
    margin-right: 20px;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}

.center {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}